.carousel-container{

    position: relative;
    margin: auto;
    text-align: center;
    width: 510px;
    border-radius: 15px;
}

.carousel-container img{
    
    display: none;
    border-radius: 15px;
}

.carousel-container img.image-active{
    
    display: block;
    width: 500px; /* Ancho máximo para la imagen */
    height: 490px; /* Altura deseada para la imagen */
}

.carousel-dot-container{

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 2rem;
}

.dot{
    

    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #ececec;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover{

    opacity: 2;
}

.fade{

    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {

    from{
        
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
    
}

.btn-carousel {

    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color:#fff;
    text-align: center;
    background-color: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev{

    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave */
    left: 0;
    background-color: rgba(255, 255, 255, 0.872); /* Fondo semitransparente */
    border: none; /* Quitar borde */
}

.icon-carousel{

    color: #151414;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover{
    
    opacity: 0.9;
}

.icon-carousel:active{

    opacity: 0.5;
}

.bi-chevron-compact-right,
.bi-chevron-compact-left{

    font-size: 70px;
}

.btn-next{

    right: 0;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave */
    background-color: rgba(255, 255, 255, 0.872); /* Fondo semitransparente */
    border: none; /* Quitar borde */
}

.carousel-container:hover .btn-next,
.carousel-container:hover .btn-prev {
    
  opacity: 0.3; /* Mostrar flechas cuando el ratón esté sobre el contenedor */
}

