
.btnCategorias{
    
  border: none;
  outline: none;
  box-shadow: none;
  
}

.listC{
  
  margin-right: 8px;
}

.flecha{

  float: right;
}
  
.btnCategorias:hover{

  border: none;
  outline: none;
  box-shadow: none;
}

.btnSonrisa{
  
  font-size: inherit;
  font-weight: inherit;
  font-weight: bold;
  
  border-radius: 30px;
  font-weight: bold;
  color: #00A160;
  background-color: yellow;
  border: 2px solid btn-info;
  font-size: 19px;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  text-decoration: none;
}

.logo{

  width: 190px;
  height: 38px;
  margin-bottom: 20px;
  border-radius: 30px;
  font-weight: bold;
  color: #00A160;
  background-color: yellow;
  border: 2px solid btn-info;
  font-size: 18px;
}

.principal{

  background: #00A160;
}

.offcanvas-body{
   
  padding: 0;  
}

.btn-close-white{
   
  font-weight: bold;
}

.categorias {

  list-style-type: none; /* Elimina el punto de la lista */
  margin: 0;
  padding: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.lista-categorias{

  padding: 0;
 
}

.categoria{

  text-decoration: none; /* Quita el subrayado */
  font-size: 0.90rem;
  color: white;
}
  
.tipo {

  color: white; /* Color de letra predeterminado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 8px; /* Espaciado interno para el texto */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  border: 1px solid transparent; 
}
  
  /* Estilos al interactuar con los elementos */
.tipo:hover, .tipo:focus, .categoria:hover, .categoria:focus {
    
  background-color: white; /* Cambia el fondo al hacer hover o focus */
  color: green; /* Cambia el color de la letra al hacer hover o focus */
}

