<button class="btn btnCategorias" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">CATEGORIAS</button>

<div class="offcanvas offcanvas-start principal" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container d-flex justify-content-center logo">
      <a href="" class="btnSonrisa"><strong class="encajando">Encajando</strong>.sonrisas</a>
    </div>
    <div class="container lista-categorias">
      <ul class="categorias">
        <li class="tipo" *ngFor="let cat of listaCategorias" data-bs-dismiss="offcanvas"><a class="categoria" [routerLink]="['/categoria/', cat.codigoTP, encodeURLParam(cat.nombre)]">{{ cat.nombre }}</a></li>
      </ul>
    </div>
  </div>
</div>
