.btnCategorias{

    border: none;
    outline: none;
    /* Eliminar fondo */
    background-color: transparent;
    /* Estilos de texto */
    color: inherit; /* Utiliza el color de texto heredado */
    cursor: pointer; /* Cambiar cursor a apuntador al pasar el ratón */
    /* Opcional: ajustar otros estilos de texto según necesidades */
    font-size: inherit;
    font-weight: inherit;
    font-weight: bold;
    font-size: 19px;
    color: rgb(123, 121, 121);
}