<div *ngIf="propagandas && propagandas.length > 0" class="carousel-container">
    <img *ngFor = "let propaganda of propagandas; let i=index"
        
     [src]="propaganda.url" [alt] ="propaganda.id"
     [ngClass]="{'propaganda-active': selectedIndex === i}"
     class="slide"
    >

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of propagandas; let i = index"
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click) = "selectPropaganda(i)">
        </span>
    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev">

        <i class="fas fa-arrow-circle-left icon-carousel bi bi-chevron-compact-left"
            (click)="onPrevClick()">
        </i>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next">

        <i class="fas fa-arrow-circle-right icon-carousel bi bi-chevron-compact-right"
            (click)="onNextClick()">
        </i>
    </button>
</div>
