h2{
    font-weight: bold;
}

.modal-content{
    position: absolute; /* Posición fija para mantener el modal en la pantalla */
    top: 150px; /* Coloca el borde superior del modal en el centro vertical */

}

.modal-body{
    display: flex;
    justify-content: center;
}

.logeo{

    padding-top: 100px;
    margin-bottom: 20px;
}

.registrar{
    display: flex;
    justify-content: center;
}

.btn-logeo{
    display: flex;
    justify-content: center;
}

.btn-logeo button{
    width: 80%;
    border-radius: 30px;
    background: rgb(24, 159, 12);
}

.usuario{
    position: relative;
    
}

.icon{
    position: absolute;
    top:1px;
    left: 7px;
    font-size: 22px;
    color: #aaa
}

.usuario .form-control{
    left: 10px;
    padding-left: 40px;
   
}

#usuario::placeholder{
    color: #aaa;
}

#contrasena::placeholder{
    color: #aaa;
}

.logo-principal{
    font-size: 100px;
    color: #1DA3DD;
}

.modal {
    
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
}    

.form-container{

    width: 400px;
}

