h2{
    font-weight: bold;
}


.modal-body{
    display: flex;
    justify-content: center;
}

.logeo{

    padding-top: 100px;
    margin-bottom: 20px;
}

.registrar{
    display: flex;
    justify-content: center;
}

.btn-logeo{
    display: flex;
    justify-content: center;
}

.btn-logeo button{
    width: 80%;
    border-radius: 30px;
    background: rgb(24, 159, 12);
}

.usuario{
    position: relative;
    
}

.icon{
    position: absolute;
    top:7px;
    left: 7px;
    font-size: 22px;
    color: #aaa
}

.icon-password{
    position: absolute;
    top:5px;
    left: 90%;
    font-size: 22px;
    color: #aaa;
}

.usuario .form-control{
    left: 10px;
    padding-left: 40px;

   
}

#usuario::placeholder{
    color: #aaa;
}

#contrasena::placeholder{
    color: #aaa;
}

#dni::placeholder{
    color: #aaa;
}

#nombres::placeholder{
    color: #aaa;
}

#apellidos::placeholder{
    color: #aaa;
}

#telefono::placeholder{
    color: #aaa;
}


.logo-principal{
    font-size: 100px;
    color: #1DA3DD;
}

/* .modal {
    
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
}     */

.form-container{

    width: 400px;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.modal-footer span{
    color: #0783b8;
    font-weight: bold;
    cursor: pointer;
}

.form-label{
    font-size: small;
    font-weight: bold;
}
.asterisco{
    color: red;
}