

<div class="card">
   
    <div class="card-body">

      <div class="row">

        <div class="col img">
          
          <app-carousel-producto [imagenes]="imagenes"></app-carousel-producto>
        </div>
        
        <div class="col description">
          <h4 *ngIf="producto">{{producto.nombre_pro}}</h4>
          <div class="row">
            <div class="item">
              
              <div class="label-des vnomobile">
                <span class="label"> 
                  <h6>Caracteristicas principales:</h6>
                    <ul *ngIf="producto">
                        <li>{{producto.descripcion}}</li>
                        <li>{{producto.material}}</li>
                        <li>{{producto.peso_pro}}</li>
                        <li>Medida: {{producto.medidas}}</li>
                        <li>Tamaño: {{producto.tamanio_pro}}</li>
                    </ul>
                </span>
            </div>
            </div>
          </div>
          <div class="row">

            <div class="item">
              <label class="precio" *ngIf="producto">S/{{producto.precio}} </label>
            </div>

            <div class="btn-group" role="group">

              <button (click) = "decremento()" type="button" class="btn">
                -
              </button>
              <button type="button" class="btn btn-cantidad">
                {{cantidadP}}
              </button>
              <button (click) = "incremento()" type="button" class="btn">
                +
              </button>
            </div>

            <a  class="btn btn-carrito">
              <i class="carrito bi bi-cart4"></i>AGREGAR
            </a>
            
          </div>
         
        </div>
      </div>
    </div>
  </div>