
.card{

    border: none; /* Elimina todos los bordes */
    box-shadow: none;
}
.img{

    margin-bottom: 10px; /* Espacio inferior entre la imagen y otros elementos */
}

.card-body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Establece la altura al 100% del viewport height */
}

h4{

    margin-top: 40px; /* Espacio en la parte superior del h4 */
    margin-bottom: 20px; /* Espacio en la parte inferior del h4 */
}

h6{

    margin-bottom: 20px;
}

.description{

    margin-left: 10px;
}

.precio{

    margin-top: 4px;
    color: rgb(244, 56, 56); 
    font-size: 30px; /* Tamaño de fuente de 24 píxeles */
    font-weight: bold; 
}

.btn-group{

    margin-top: 25px;
    width: 180px;
    height: 70px;
    box-shadow: none;
}

.btn{

    border-color: rgb(217, 217, 217);
    font-size: 35px; /* Tamaño de fuente de 24 píxeles */
    color: rgb(217, 217, 217);
}

.btn-cantidad{

    color: black;
}

.btn-carrito{

    margin-top: 25px;
    width: 330px;
    height: 70px;
    background-color:#00A160;
    color: floralwhite;
    font-weight: bold;
    font-size: 20px; /* Tamaño de fuente de 24 píxeles */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2;
    box-shadow: none;
}

.carrito{

    margin-right: 15px;
}

.btn-carrito:hover {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aplica una sombra encima del botón */
    background-color: #169260; /* Cambia el color de fondo con opacidad al pasar el mouse */
}

.btn-carrito:active {

    color: floralwhite;
    background-color: #75bda1;
}