
<footer class="footer ">
    <div class="container">

        <div class="row">
            <div class="col">
                <p>Acerca de Encajando Sonrisas</p>
                <ul class="sobre">
                    <li>
                        <a href="#" class="enlaces">Nosotros</a>
                    </li>
                    <li>
                        <a href="#" class="enlaces">Nuestros locales</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <ul class="reclamaciones">
                    <li>
                        <a href="#" class="enlaces">Libro de Reclamaciones</a>
                    </li>
                </ul>
                <div class="imagen">
                    <img src="../assets/Imagenes/libro_reclamaciones.png" alt="Libro reclamaciones" class="libro">
                </div>
                
                
            </div>
            <div class="col ">
                <p>Servicio al cliente</p>
                <ul class="para-cliente">
                    <li>
                        <a href="#" class="enlaces">Contactanos</a>
                    </li>
                    <li>
                        <a href="#" class="enlaces">Comprobantes electronicos</a>
                    </li>
                    <li>
                        <a href="#" class="enlaces">Cambios y devoluciones</a>
                    </li>
                    <li>
                        <a href="#" class="enlaces">Terminos y condiciones</a>
                    </li>
                    <li>
                        <a href="#" class="enlaces">Politica de privacidad</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <p>Medios de Pago</p>
                <ul class="tarjetas">
                    <li>
                        <img class="imagen-tarjetas" src="../assets/Imagenes/amer.png" alt="americanexpress">
                    </li>
                    <li>
                        <img class="imagen-tarjetas" src="../assets/Imagenes/visa.png" alt="visa">
                    </li>
                    <li>
                        <img class="imagen-tarjetas" src="../assets/Imagenes/mastercard.png" alt="mastercard">
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="redes">
                    <li>
                        <a href="https://www.facebook.com/encajando.sonrisas" target="_blank"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/encajando.sonrisas?igsh=bGlybnJvYmJobWZy" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
                <p>RUC:por definir</p>
            </div>
            
        </div>
    </div>
</footer>
