<div class="barra">

  <nav class="navbar ">
      <div class="container-fluid d-flex justify-content-around align-items-center">

          <a href="" class="btnSonrisa"><strong class="encajando">Encajando</strong>.sonrisas</a>
          
          <div class="categoria">
              <app-categoria></app-categoria>
          </div>
          
          <div class="buscador">
              <form class="d-flex" role="search">
                  <input class="busca lupa" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
              </form>
          </div>
          
          <div class="d-flex align-items-center">
            <i class=" carrito bi bi-cart4"></i>
              
          </div>
          
          <div class="d-flex logear">
            <label for="" class="saludar"  data-bs-toggle="modal" data-bs-target="#modalLogin" >Hola</label>
            <label for="" class="iniciar"  data-bs-toggle="modal" data-bs-target="#modalLogin" >Iniciar sesión</label>
              
          </div>
          <div class="user">
            <i class="bi bi-person-circle userimg" alt="Usuario" data-bs-toggle="modal" data-bs-target="#modalLogin"></i>
          </div>
          
      </div>
  </nav>
</div>
