
.buscador{
    
    margin-left: 690px;
}
.saludar{

    
    position: relative;
    right: 550px;
    position: absolute;
    top: 15px; 
    font-weight: bold;
    font-size: 20px;
    color: cornflowerblue
}
.iniciar{

    position: relative; /* Opción: relative o absolute según tu diseño */
    top: 40px; 
    position: absolute;
    right: 550px;
    font-size: 13px;
    color:cornflowerblue
}
.user{

    position: absolute;
    right: 480px;
    width: 50px;
    height: 50px;
}

.carrito{
    position: absolute;
    right: 650px;
    width: 40px;
    height: 40px;
}

.navbar {
    height: 70px; /* Altura fija de 60px (ajusta según tus necesidades) */
    background-color: #dad8d8;
}

.barra{

    position: fixed;
    width: 100%;
}

.btnSonrisa{

    position: relative;
    right: 1300px;
    width: 190px; /* Ancho personalizado */
    height: 38px; /* Alto personalizado */
    border-radius: 30px;
    font-weight: bold;
    color: rgb(255, 217, 0);
    background-color: cornflowerblue;
    border: 2px solid  btn-info;
    font-size: 18px;
}

.buscador form input.busca {

    width: 450px; /* Ancho personalizado */
    height: 35px; /* Alto personalizado */
    border-radius: 20px;
    background-image: url('../../../assets/Imagenes/lupa.png'); /*ruta del icono*/
    background-repeat: no-repeat; /*evitar que el icono se repita */
    background-position: 420px center; /*para tener centrado el icono*/
    background-size: 20px; /* Tamaño del icono */
    padding-left: 15px; /* Espacio a la izquierda para el icono */
    border: 1px solid transparent; /* Borde transparente */
    outline: none; /* Quitar el borde al enfocar */
}

.categoria{

    position: relative;
    right: 750px;    
}
