.saludar{
    font-weight: bold;
    font-size: 20px;
    color: cornflowerblue;
    margin-bottom: 5px;
    cursor: pointer;
}

.iniciar{
    font-size: 13px;
    color: cornflowerblue;
    cursor: pointer;
}

.userimg{
    width: 50px;
    height: 50px;
    cursor: pointer;

}


.carrito{
    width: 40px;
    height: 40px;
}

.navbar {
    height: 70px;
    background-color: #dad8d8;
}

.barra{
    position: fixed;
    width: 100%;
}

.btnSonrisa{
    width: 190px;
    height: 38px;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(255, 217, 0);
    background-color: cornflowerblue;
    border: 2px solid btn-info;
    font-size: 18px;
}

.buscador form input.busca {
    width: 450px;
    height: 35px;
    border-radius: 20px;
    background-image: url('../../../assets/Imagenes/lupa.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    padding-left: 15px;
    border: 1px solid transparent;
    outline: none;
}

.logear {
    display: flex;
    flex-direction: column; /* Apilar los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    
  }
