<div class="barra">

  <nav class="navbar ">
      <div class="container-fluid d-flex justify-content-around align-items-center">
      
          <button class="btn btnSonrisa" type="button">Encajando Sonrisas</button>
          
          <div class="categoria">
              <app-categoria></app-categoria>
          </div>
          
          <div class="buscador">
              <form class="d-flex" role="search">
                  <input class="busca lupa" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
              </form>
          </div>
          
          <div class="d-flex align-items-center">
            <i class=" carrito bi bi-cart4"></i>
              
          </div>
          
          <div class="d-flex logear">
            <label for="" class="saludar" (click)="abrirModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Hola</label>
            <label for="" class="iniciar" (click)="abrirModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Iniciar sesión</label>
              
          </div>
          <div class="user">
            <i class="bi bi-person-circle userimg" (click)="abrirModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
          </div>
          
      </div>
  </nav>
</div>
