.saludar{
    font-weight: bold;
    font-size: 20px;
    color: #00A160;
    margin-bottom: 5px;
    cursor: pointer;
}

.iniciar{
    font-size: 13px;
    color: #00A160;
    cursor: pointer;
}

.userimg{
    font-size: 38px;
    cursor: pointer;
    color: gray;
    
}

.carrito{
    font-size: 38px;
    color: #00A160;
    cursor: pointer;

}

.navbar {
    height: 70px;
    background-color: #dad8d8;
}

.barra{

    position: fixed;
    width: 100%;
    z-index: 99;
}

.btnSonrisa{

    width: 210px;
    height: 42px;
    border-radius: 30px;
    font-weight: bold;
    color: #00A160;
    background-color: yellow;
    border: 2px solid btn-info;
    font-size: 19px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center;
    text-decoration: none;
}

.buscador form input.busca {
    width: 450px;
    height: 35px;
    border-radius: 20px;
    background-image: url('../../../assets/Imagenes/lupa.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    padding-left: 15px;
    border: 1px solid transparent;
    outline: none;
}

.logear {
    display: flex;
    flex-direction: column; /* Apilar los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    
}

.encajando{

    font-size: 22px;
}
