<!-- As a link -->
<div class="barra ">

    <nav class="navbar">
        <div class="container-fluid">
          <label for="" class="saludar">Hola</label>
          <label for="" class="iniciar">Iniciar sesion</label>
    
          <div class="buscador">
    
            <form class="d-flex" role="search">
                <input class=" busca lupa" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
            </form>
          </div>

          <div class="categoria">

            <app-categoria></app-categoria>
          </div>
    
          <button class="btn btnSonrisa" type="button">Encajando Sonrisas</button>
    
          <img class="carrito" src="../../../assets/Imagenes/carrito.png"><img>
          <img class="user" src="../../../assets/Imagenes/user.png" >
        </div>
    </nav>
</div>

